# ==========================================
# Python
# ==========================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================
# Virtual Environment
# ==========================================

venv/
.env

# ==========================================
# Logs
# ==========================================

logs/
*.log

# ==========================================
# Descargas
# ==========================================

downloads/
temp/

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# Sistema
# ==========================================

Thumbs.db
.DS_Store

# ==========================================
# Git
# ==========================================

.git/